<div class="home-hero-section">
    <div class="home-hero-back"
      
      {%if section.settings.hero_image%}   
      style="background-image: url('{{section.settings.hero_image | image_url }}');"
      {% endif %}
  >



    {% if section.settings.hero_image %}
      <style type="text/css">
        .home-hero-back {
          background-image: url({{section.settings.hero_image | image_url }});
        }
      </style>
    {% endif %}
    
    {% if section.settings.mobile_bg_image %}
      <style type="text/css">
        @media screen and (max-width: 479px) { 
    
         .home-hero-back {
          background-image: url({{section.settings.mobile_bg_image | image_url }}) !important;
         }
    
        }
      </style>
    {% endif %}



      <div class="hero-content-wrapper">
  <h1 class="home-heading" {% if section.settings.main_heading_color %}style="color: {{section.settings.main_heading_color}};"{% endif %}>{{section.settings.main_heading}}</h1>
        <h3 class="home-subheading" {% if section.settings.sub_heading_color %}style="color: {{section.settings.sub_heading_color}};"{% endif %}>{{section.settings.sub_heading}}</h3>
        <a href="{{section.settings.btn_url}}" class="general-btn margin-t w-button solid-white" 
      {% if section.settings.btn_bg_color or section.settings.btn_text_color %}style="background-color: {{section.settings.btn_bg_color}}; color: {{section.settings.btn_text_color}};"{% endif %}
      >{{section.settings.btn_text}}</a>
      </div>
    </div>
    

    
    {% comment %}
    <div class="hero-img-cover"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-home-hero.svg" loading="lazy" alt="" class="img-hero"></div>
    <div class="shopping-for-gift-section"></div>
    {% endcomment %}


    <div class="white-bg-rounded">

      <div class="product-row-section">
        <div id="best-sellers" class="product-row-container-category">
          <div class="general-sub-hero-heading-wrapper">
            <h5 class="bright-blue-text">just keep snackin&#x27;<span class="break-line"></span></h5>
            <h1 class="black-text">{{section.settings.section_heading}}<span class="break-line"></span></h1>
          </div>
      
          {% assign product_limit = section.settings.product_limit %}
          {% assign jc_slide_inner_class = '' %}
          {% assign jc_slider_class = '' %}
      
          {% if product_limit <= 4 %}
            {% assign jc_hide_class = 'product-slider-arrow-category-page-hide' %}
            {% assign jc_slide_inner_class = 'product-slide-inner-category-page-single' %}
            {% assign jc_slider_class = 'product-slider-category-page-single' %}
          {% endif %}
      
      
          <div class="category-page-product-slider-wrapper">
            <div data-animation="slide" data-duration="500" data-infinite="1" class="product-slider-category-page {{jc_slider_class}} w-slider">
              <div class="w-slider-mask">
      
      
                {% for block in section.blocks %}
                  {% assign product = all_products[block.settings.title]  %}
                  {%- assign current_variant = product.selected_or_first_available_variant -%}
                  {%- assign compare_at_price = current_variant.compare_at_price -%}
                  {%- assign price = current_variant.price -%}
      
                  {% if forloop.index == 1 or 
                    forloop.index == 5 or 
                    forloop.index == 9 or
                    forloop.index == 13
                    %}
      
                      <div class="w-slide">
                        <div class="product-slide-inner-category-page {{jc_slide_inner_class}}">
                          <div class="product-section-row">
      
                    {% endif %}
      
      
                      <div class="product-section-col">
                        <div class="product-section-col-inner product-section-col-inner-category">
                            <div class="product-section-img-wrapper">
                                <a href="{{ product.url }}" class="product-section-img-link w-inline-block">
                                  <img src="{{ product.featured_image | img_url: '800x' }}" class="product-section-img" alt="{{ product.title | escape }}">
                                </a>
                              </div>
                            <div id="w-node-_2c453dd0-c9ca-8595-de3c-3a5b7b5c5cc5-dd266cfc" class="shop-name-inner">
                              <h2 class="black-text no-margin-b no-margin-t">
                                <a href="{{ product.url }}" class="black-bright-blue-link">{{ product.title }}</a><span class="break-line"></span>
                              </h2>
        
                              {% comment %}
                              {% if product.metafields.product_info.collection_description %}
                                <p class="black-text white smaller">{{ product.metafields.product_info.collection_description }}</p>
                              {% endif %}
                              {% endcomment %}
                      

                            <p class="black-text center">{{ product.price | money }}</p>
                          </div>

                          
                          <div class="product-section-btn-wrapper">
                            <a href="{{ product.url}}" class="general-btn dark-with-w-text margin-t-larger w-button">Shop Now<span class="visually-hidden"> {{ product.title }}</span></a>
                          </div>
                        </div>
                      </div>
      
                    {% if forloop.index == 4 or 
                      forloop.index == 8 or 
                      forloop.index == 12 or
                      forloop.index == 16 or
                      forloop.last == true 
                      %}
                        </div>
                      </div>
                    </div>
                      {% endif %}
      
                {% endfor %}

              </div>
      
              <div class="product-slider-arrow-category-page {{jc_hide_class}} w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
              </div>
              <div class="product-slider-arrow-category-page {{jc_hide_class}} w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
              </div>
              <div class="product-slide-nav-category-page w-slider-nav w-round"></div>
      
            </div>
          </div>

      
        </div>
      </div>
    </div>
       

       

      {% comment %}
      <div class="shopping-for-gift-wrapper">
        <h1>shopping for a gift?</h1>
        <p>If you’re not sure where to begin, these questions just might help</p>
        <div class="form-block-home w-form">
          
          <script type="text/javascript" src="https://form.jotform.com/jsform/222497255132051"></script>
          
          
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      {% endcomment %}
     
      


    {% comment %}
      <div class="left-img-shopping-gift"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-popcorn1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-popcorn1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-popcorn1-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-popcorn1-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-popcorn1-min.png 1200w" sizes="100vw" alt="Transparent view of pieces of popcorn with white and milk chocolate drizzle in a line going on the popcorn and some not on the popcorn"></div>
      <div class="right-img-shopping-gift"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz1-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz1-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz1-min.png 1200w" sizes="100vw" alt="Pretzel with white chocolate drizzle extending out from the pretzel, going on the pretzel, and chocolate drizzle on the pretzel."></div>
    {% endcomment %}
    </div>

  </div>

  <div class="white-section home">
    <div class="general-white-front margin-t">
      <div class="general-content-wrapper wider no-padding-b">
        <h1 class="black-text smaller-heading">DID YOU KNOW WE CAN DELIVER ALL YOUR GIFTS FOR YOU?</h1>
        <h5 class="bright-blue-text">Need help with multi-ship? Instructions <a class="blue-link" href="https://funkychunky.com/pages/multi-ship"> HERE</a></h5>
      </div>
      <div class="flex-gift-row">
        <div class="ways-to-gift-flex-col">
          <div class="gift-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/Left-Image-New.png?v=1665610645" loading="lazy"  sizes="(max-width: 479px) 81vw, (max-width: 767px) 200px, (max-width: 991px) 41vw, 33vw" alt="" class="gift-img"></div>
          <h2 class="black-text">JUST HAVE A FEW GIFTS TO SEND?</h2>
          <p class="black-text margin-b tighter-alt">Click the multiple address box at checkout.</p>
          <p class="black-text margin-b tighter-alt">(Less than 20)</p>
          <a href="https://funkychunky.com/pages/shop-all" class="general-btn dark-with-w-text w-button">Shop All Products</a>
        </div>
        <div class="ways-to-gift-flex-col">
          <div class="gift-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-gift-box.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-gift-box-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-gift-box-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-gift-box-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-gift-box.png 1200w" sizes="(max-width: 479px) 81vw, (max-width: 767px) 200px, (max-width: 991px) 41vw, 220px" alt="" class="gift-img"></div>
          <h2 class="black-text">HAVE A LARGER LIST TO SEND?</h2>
          <p class="black-text margin-b tighter-alt">Upload your addresses at checkout.</p>
          <p class="black-text margin-b tighter-alt">(More than 20)</p>
          <a href="https://funkychunkygifts.com/" class="general-btn dark-with-w-text w-button">Shop Funky Chunky Gifts</a>
        </div>
      </div>
      <div class="bottom-banner-alt">
        <h3 id="gifting-form" class="h2-link">SHIPPING LEAD TIMES &amp; OTHER INFORMATION<br></h3>
        <p>For full information on shipping and lead times, check out our <a href="https://funkychunky.com/pages/customer-service-1#shipping-and-returns" class="black-white-link">Customer Service</a> page.</p>
      </div>
    </div>
  </div>

  {% schema %}
  {
    "name": "Hero section/Product Row",
    "max_blocks": 16,
    "settings": [
      {
          "type": "text",
          "id": "sub_heading",
          "default": "Elevate Your Gift Game",
          "label": "Hero Sub Heading"
      },
      {
          "type": "color",
          "id": "sub_heading_color",
          "label": "Sub Heading Color"
      },
      {
          "type": "text",
          "id": "main_heading",
          "default": "SPOOKY GOURMET TREATS",
          "label": "Hero Main Heading"
      },
      {
          "type": "color",
          "id": "main_heading_color",
          "default": "#fff",
          "label": "Hero Main Heading Color"
      },
      {
        "type": "text",
        "id": "btn_text",
        "default": "TRICK YOUR TREAT",
        "label": "Button Text"
      },
      {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
      },
      {
          "type": "color",
          "id": "btn_bg_color",
          "default": "#fff",
          "label": "Button Background Color"
        
      },
      {
          "type": "color",
          "id": "btn_text_color",
          "default": "#000",
          "label": "Button Text Color"
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_bg_image",
          "label": "Mobile Hero Image"
          },
        {
           "type": "text",
           "id": "section_heading",
           "default": "Our Best Sellers",
           "label": "Product Section Heading"
        },
        {
             "type": "range",
             "id": "product_limit",
             "label": "How many products to show?",
             "min": 1,
             "max": 16,
             "step": 1,
             "default": 4
          }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Product",
        "settings": [
          
          {
           "type": "product",
           "id": "title",
           "label": "Product"
          }
  
        ]
      }
    ]
  }
  {% endschema %}