<div class="general-hero-section">
  {%comment%}
  <div class="about-hero-black-back">
    <div class="about-hero-text-wrapper">
      <h5 class="all-caps white-text">Classic flavors</h5>
      <h1 class="no-margin-b">{{collection.title}}</h1>
    </div>
    <div class="top-right-img-shop-category"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw2-min.png" loading="lazy" alt="" class="img-absolute shop-cat-2"></div>
    <div class="top-left-img-shop-category"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw3-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw3-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw3-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw3-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw3-min.png 1200w" sizes="(max-width: 4000px) 30vw, 1200px" alt="" class="img-absolute shop-cat"></div>
    <div class="top-right-img-shop-category2"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min.png 800w" sizes="15vw" alt="" class="img-absolute shop-cat2"></div>
  </div>
  {%endcomment%}




  {% if collection.id == 273877368915 %}



{%- comment -%}
  <div class="about-hero-img-wrapper prime"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-hero-AmazonPrime.png?v=1680714829" loading="lazy" alt="" class="img-hero prime"></div>
{%- endcomment -%}
  
  
    <div class="prime-hero-container">

      <div class="prime-inner-content">
        <div class="prime-col _25 desktop">
          <img class="buy-with-prime-circle" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/icon-BuyWithPrime.png?v=1680802983" alt="Buy With Prime">
        </div>

        <div class="prime-col _50">
          <h1>Get Your Funky Chunky Products with Buy With Prime's fast, free shipping!</h1>

          <div class="number-bullet-container">
            <div class="number-bullet">1</div>
            <p>Click the Buy with Prime button</p>
          </div>

          <div class="number-bullet-container">
            <div class="number-bullet">2</div>
            <p>Complete your purchase through your <br>Prime account!</p>
          </div>

          <p class="disclaimer-text">*On-site discounts are not eligible for <strong>BuyWithPrime</strong> purchases.</p>

        </div>

        <div class="prime-iamges-wrapper">
          <div class="prime-col _25 mobile">
            <img class="buy-with-prime-circle" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/icon-BuyWithPrime.png?v=1680802983" alt="Buy With Prime">
          </div>
          
          <div class="">
            <img class="prime-right-photo" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/FC_1301_Tasting-Kit_NEWPKG.png?v=1681147064" alt="buy with prime photo">
          </div>
        </div>
      </div>
    </div>
  
  
    {%else%}
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  {% endif %}
</div>








<div class="white-section">
  <div class="general-white-front top-flat center category">
    <div class="shop-flex-row">
      <div id="w-node-_5852a4f6-6017-77c8-49e1-efb44b55133a-dd266cfc" class="shop-flex-row-filter">

        <div class="side-filter">

          <h2 class="h2-larger black-text">Filter by:<span class="break-line"></span></h2>
          <div id="filter-category" class="filter-category">

            <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v"></div>

            {% render 'dropdown-js' %}

            {%comment%}
            <div data-w-id="a6e9f37a-7d3e-5757-aee0-a1dbb9ecd07e" class="filter-dropdown-option">
              <p class="black-text no-margin-b">Flavor</p>
              <div class="expand-icon-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="filter-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="display:none;opacity:0" alt="" class="filter-img-alt"></div>
            </div>
            <div class="filter-options hide">


              



              <div data-w-id="1e55581f-8ed6-fc08-5c77-511a7172c7b9" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Birthday Cake</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Birthday Cake</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="325c56a1-1dd6-9475-11f1-8967c1ccd05e" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Chip Zel Pop</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Chip Zel Pop</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="913fa888-da6d-5497-137d-193b4d7cfa30" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Chocolate Pretzels</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Chocolate Pretzels</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="bfaa6f9e-6c87-8311-18b6-d99abd086ee9" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Nutty Choco Pop</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Nutty Choco Pop</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="0af590c9-c5e8-2882-a914-a0aa64bc397b" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Peanut Butter Cup</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Peanut Butter Cup</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="ce5e9c66-d3af-4f73-1f2b-9abc96564411" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Sea Salt Caramel</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Sea Salt Caramel</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="40c8d094-d204-ee5a-e119-a5ba8239b164" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">All Flavors</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">All Flavors</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
            </div>
            


            
          
          
          </div>
          <div class="filter-category">
            <div data-w-id="1a0addf1-8d2f-dda3-b28b-e8f9ac09644a" class="filter-dropdown-option">
              <p class="black-text no-margin-b">Size</p>
              <div class="expand-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="filter-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="display:none;opacity:0" alt="" class="filter-img-alt"></div>
            </div>
            <div class="filter-options hide">
              <div data-w-id="1a0addf1-8d2f-dda3-b28b-e8f9ac096450" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Small Bag</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Small Bag</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="ded2d11b-871c-1c75-6258-30aee584ddef" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Large Bag</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Large Bag</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="bc5c4b76-1f09-7dd6-f718-d0f840bed811" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Small Canister</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Small Canister</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="b8714bc1-10c6-2ec0-3d5a-93eb9565ffda" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Large Canister</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Large Canister</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
            </div>
          </div>
          <div class="filter-category">
            <div data-w-id="69ed457c-6bce-a5ab-85d1-ca2c24add238" class="filter-dropdown-option">
              <p class="black-text no-margin-b">Price</p>
              <div class="expand-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="filter-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="display:none;opacity:0" alt="" class="filter-img-alt"></div>
            </div>
            <div class="filter-options hide">
              <div data-w-id="94ff8451-3613-50a8-43dd-ae81141a0a56" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Under $5</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Under $5</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="8137b339-63f0-9d6f-d490-00beb9528c8c" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Under $10</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Under $10</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="e480d4a2-df4d-c052-b776-9ad1cb2e4f1d" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Under $20</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Under $20</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
            </div>
          </div>
          <div class="filter-category bottom">
            <div data-w-id="a8f72e1a-b06e-56c2-bd45-f76a085dcdff" class="filter-dropdown-option">
              <p class="black-text no-margin-b">Occasion</p>
              <div class="expand-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="filter-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="display:none;opacity:0" alt="" class="filter-img-alt"></div>
            </div>
            <div class="filter-options hide">
              <div data-w-id="941ec442-8117-2ba0-f54c-d72db31146df" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Corporate Events</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Corporate Events</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="f7a7f2d2-35c4-792c-c604-1c9d289f5454" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Valentine&#x27;s Day</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Valentine&#x27;s Day</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="3121bdba-79b3-d066-a3b9-f2d8c79747a1" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Father&#x27;s Day</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Father&#x27;s Day</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="82e6ea18-cc73-efa9-4fee-8e621d8c7e6e" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Halloween</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Halloween</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="73755bc8-9124-7ee5-a2f0-308a5726dedb" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Christmas</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Christmas</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>

            </div>

            {%endcomment%}
          </div>

        </div>
      </div>
      <div id="w-node-_2c3b2892-8e2f-cef5-927b-25cc8ef5f29e-dd266cfc" class="shop-flex-col-filter">
        <div class="sort-btn-wrapper">



          

          
          {%comment%}
          <div class="sort-wrapper-shop">
            <div class="sort-flex-row-shop">
              <div class="sort-text">Sort By:</div>
              <div class="sort-input-wrapper">
                <select id="price-sort" name="price-sort" class="dropdown-sort filter-input-sort w-select">
                  <option value="best-selling">Best Selling</option>
                  <option value="none">Price</option>
                  <option value="title-ascending">A to Z</option>
                  <option value="title-descending">Z to A</option>
                  <option value="price-ascending">Low - High</option>
                  <option value="price-descending">High - Low</option>
                  <option value="created-ascending">Date - Old to New</option>
                  <option value="created-descending">Date - New to Old</option>
                  
                  
                </select>
              </div>
            </div>
          </div>
          

          <script type="text/javascript">
            $('#price-sort').on('change', function() {
              var current_value = this.value;
              if (current_value == 'none') {
                return false;
              }
              else {
                var shop_url = '{{shop.url}}';
                var collection_url = '{{collection.url}}';
                var param_url = current_value;
                var full_url = shop_url+collection_url+'?sort_by='+current_value+'#main-content';
                window.location.href = full_url;
              }
          
            });
          
            $('#color-filter').on('change', function() {
              var current_value = this.value;
              if (current_value == 'none') {
                return false;
              } 
              else {
                var shop_url = '{{shop.url}}';
                var param_url = current_value;
                var full_url = shop_url+param_url+'#main-content';
                window.location.href = full_url;
              }
          
            });
          </script>
{%endcomment%}

          
        </div>
        <div class="shop-flex-row-items">


          {% unless collection.id == 273877368915 %}
          
          <div class="about-hero-text-wrapper">    
            <h1 class="no-margin-b black">Shop {{collection.title}}</h1>
          </div>
        {% endunless %}


          <div class="boost-pfs-filter-products">

          {% for product in collection.products %}



	    	      {%- assign iteration_number = forloop.index -%}
              {% assign current_variant = product.selected_or_first_available_variant %}
              

             

                  
                    <a href="{{ product.url }}" class="shop-img-wrapper w-inline-block">
                      <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" loading="lazy"  sizes="(max-width: 479px) 89.765625px, (max-width: 767px) 160px, 200px" class="img-shop">
                    </a>
                    <div id="w-node-_2c453dd0-c9ca-8595-de3c-3a5b7b5c5cc5-dd266cfc" class="shop-name-inner">
                      <h2 class="black-text no-margin-b no-margin-t">
                        <a href="{{ product.url }}" class="black-bright-blue-link">{{product.title}}</a><span class="break-line"></span>
                      </h2>

                      {%comment%}
                      {% for variant in product.variants limit:1 %}
                        {% if variant.available %}

                        <p class="black-text smaller">{{ variant.title }}</p>
                          
                        {% endif %}
                      {% endfor %}
                      {%endcomment%}

                    {% if product.metafields.product_info.collection_description %}
                      <p class="black-text smaller">{{ product.metafields.product_info.collection_description }}</p>
                    {% endif %}
                        
                    </div>

                    {% form "product", product %}

                    <select aria-label="Select Variant" name="id" class="jc-product-input-hide" style="display: none;">
                      {% for variant in product.variants %}
                      {% assign variant_id = variant.id %}
                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}  value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                      {% endfor %}
                    </select>

                    <div class="jc-product-page-flex-col jc-product-page-flex-col-input">
                      <div class="jc-product-quantity-wrapper">

                        <a id="jc-quantity-btn-down--{{variant_id}}" href="#" class="jc-quantity-btn qty-btn-product-down">
                          <div class="qty-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/minus.svg" loading="lazy" alt="Decrease Quantity" class="qty-btn-img"></div>
                        </a>

                        <input aria-label="Quantity" type="number" id="Quantity" name="quantity" value="1" min="1" class="js-quantity-selector jc-js-quantity-selector--{{variant_id}}">

                        <a id="jc-quantity-btn-up--{{variant_id}}" href="#" class="jc-quantity-btn qty-btn-product-up">
                          <div class="qty-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/plus.svg" loading="lazy" alt="Increase Quantity" class="qty-btn-img"></div>
                        </a>

                      </div>
                    

                    {%comment%}

                    <div class="jc-product-page-flex-col jc-product-page-flex-col-input">
                      <div class="jc-product-quantity-wrapper">
                        <a id="jc-quantity-btn-down--{{variant_id}}" href="#" class="jc-quantity-btn">
                          <div class="qty-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/minus.svg" loading="lazy" alt="Decrease quantity" class="qty-btn-img"></div>
                        </a>
                        <input aria-label="Quantity" type="number" id="Quantity" name="quantity" value="1" min="1" class="js-quantity-selector jc-js-quantity-selector--{{variant_id}}">
                        <a id="jc-quantity-btn-up--{{variant_id}}" href="#" class="jc-quantity-btn">
                          <div class="qty-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/plus.svg" loading="lazy" alt="Increase Quantity" class="qty-btn-img"></div>
                    
                        </a>
                      </div>
                    </div>

                    {%endcomment%}

            



                    <p class="black-text">{{product.price | money }}</p>

                    <div class="btn-flex-col-product flex">       
                      {% assign is_available = product.available %}
                      {% if is_available == true %}
                          {% assign cart_btn_text = 'Add To Cart' %}
                          {% assign cart_disabled = '' %}
                        {% else %}
                          {% assign cart_btn_text = 'Sold Out' %}
                          {% assign cart_disabled = 'disabled="disabled"' %}
                      {% endif %}


                      <button class="general-btn dark-with-w-text w-button" type="submit" {{cart_disabled}} >
                        {{cart_btn_text}}
                      </button>
                    </div>
          
                  </div>

              {% endform %} 



	    	  {% endfor %}
        </div>
          <div class="boost-pfs-filter-bottom-pagination"></div>
          <div class="boost-pfs-filter-load-more"></div>

        
{%comment%}
          <div class="shop-flex-col-item">
            <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="shop-img-wrapper w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min.png 1400w" sizes="(max-width: 479px) 89.765625px, (max-width: 767px) 160px, 200px" alt="" class="img-shop"></a>
            <div id="w-node-_2c453dd0-c9ca-8595-de3c-3a5b7b5c5cc5-dd266cfc" class="shop-name-inner">
              <h2 class="black-text no-margin-b no-margin-t">
                <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="black-bright-blue-link">chip zel pop</a><span class="break-line"></span>
              </h2>
              <p class="black-text smaller">Small Bag (2oz.)</p>
            </div>
            <div class="quantity-flex-wrapper">
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/minus.svg" loading="lazy" alt=""></div>
              <p class="larger-p-text black-text">1</p>
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/plus.svg" loading="lazy" alt=""></div>
            </div>
            <p class="black-text">$2.99</p>
            <a href="#" class="general-btn dark-with-w-text w-button">Add To Cart</a>
          </div>

          <div class="shop-flex-col-item">
            <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="shop-img-wrapper w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min.png 1400w" sizes="(max-width: 479px) 89.765625px, (max-width: 767px) 160px, 200px" alt="" class="img-shop"></a>
            <div id="w-node-ad871d1a-cab1-cf98-fb7b-660a1a8c3ffe-dd266cfc" class="shop-name-inner">
              <h2 class="black-text no-margin-b no-margin-t">
                <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="black-bright-blue-link">chip zel pop</a><span class="break-line"></span>
              </h2>
              <p class="black-text smaller">Large Bag (5oz.)</p>
            </div>
            <div class="quantity-flex-wrapper">
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/minus.svg" loading="lazy" alt=""></div>
              <p class="larger-p-text black-text">1</p>
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/plus.svg" loading="lazy" alt=""></div>
            </div>
            <p class="black-text">$5.99</p>
            <a href="#" class="general-btn dark-with-w-text w-button">Add To Cart</a>
          </div>
          <div class="shop-flex-col-item">
            <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="shop-img-wrapper w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-8oz-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-8oz-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-8oz-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-8oz-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-8oz-min.jpg 1400w" sizes="(max-width: 479px) 89.765625px, (max-width: 767px) 160px, 200px" alt="" class="img-shop"></a>
            <div id="w-node-_7bc8cdd9-b3d3-de7c-96b3-02159cbea7ed-dd266cfc" class="shop-name-inner">
              <h2 class="black-text no-margin-b no-margin-t">
                <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="black-bright-blue-link">chip zel pop</a><span class="break-line"></span>
              </h2>
              <p class="black-text smaller">Small Canister (8oz.)</p>
            </div>
            <div class="quantity-flex-wrapper">
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/minus.svg" loading="lazy" alt=""></div>
              <p class="larger-p-text black-text">1</p>
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/plus.svg" loading="lazy" alt=""></div>
            </div>
            <p class="black-text">$8.99</p>
            <a href="#" class="general-btn dark-with-w-text w-button">Add To Cart</a>
          </div>
          <div class="shop-flex-col-item">
            <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="shop-img-wrapper w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min.jpg 1400w" sizes="(max-width: 479px) 89.765625px, (max-width: 767px) 160px, 200px" alt="" class="img-shop"></a>
            <div id="w-node-_212fdbed-3d38-4876-4eb4-c0d5c65c44de-dd266cfc" class="shop-name-inner">
              <h2 class="black-text no-margin-b no-margin-t">
                <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="black-bright-blue-link">chip zel pop</a><span class="break-line"></span>
              </h2>
              <p class="black-text smaller">Large Canister (11.2oz.)</p>
            </div>
            <div class="quantity-flex-wrapper">
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/minus.svg" loading="lazy" alt=""></div>
              <p class="larger-p-text black-text">1</p>
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/plus.svg" loading="lazy" alt=""></div>
            </div>
            <p class="black-text">$18.99</p>
            <a href="#" class="general-btn dark-with-w-text w-button">Add To Cart</a>
          </div>
        {%endcomment%}
        </div>
      </div>
    </div>
    <a href="https://funkychunky.com/a/gc/gift-card/" class="bottom-banner w-inline-block">
      <h2 class="h2-link">NOT SURE WHERE TO SEND YOUR GIFT? SEND AN E-GIFT INSTEAD!<br></h2>
    </a>
  </div>
</div>
<div class="home-cta-section">
  <div class="home-cta-wrapper">
    <div class="home-cta-content-wrapper">
      <h1>WE MAKE CORPORATE GIFTING EASY.</h1>
      <p>When you want to make a lasting impression and show clients your appreciation, turn to the corporate-gifting experts at Funky Chunky.</p>
      <a href="https://funkychunkygifts.com/" class="general-btn w-button">Shop Corporate Gifting</a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() { 
    $('.qty-btn-product-down').click(function(e) {
      e.preventDefault();
      var current_input = $(this).siblings('.js-quantity-selector');
      current_input.val( function(i, oldval) {
        if (oldval < 2) {
          return 1;
        }  else {
          return --oldval;
        }
      });
    });
    $('.qty-btn-product-up').click(function(e) {
      e.preventDefault();
      var current_input = $(this).siblings('.js-quantity-selector');
      current_input.val( function(i, oldval) {
        
       return ++oldval;
       
      });
    });
  });
</script>

{%comment%}

<script type="text/javascript">
  $(document).ready(function() { 

    function incrementDown() {

        $('.jc-js-quantity-selector').val( function(i, oldval) {
            return --oldval;
        });
    }

    function incrementUp() {

        $('.jc-js-quantity-selector').val( function(i, oldval) {
            return ++oldval;
        });
    }


    $("#jc-quantity-btn-down--{{variant_id}}").click(function(){
      incrementDown();
    });

    $("#jc-quantity-btn-up--{{variant_id}}").click(function(){
      incrementUp();
    });

    $(".jc-quantity-btn").hover(function(){
      var breaker = $(this).find('.jc-quantity-btn-breaker');
      breaker.css("background-color", "#ffffff");
      }, function(){
      var breaker = $(this).find('.jc-quantity-btn-breaker');
      breaker.css("background-color", "#0049434d");
    });

   });

</script>


<script type="text/javascript">
  $(document).ready(function() { 

    function incrementDown() {

        $('.jc-js-quantity-selector--{{variant_id}}').val( function(i, oldval) {
            return --oldval;
        });
    }

    function incrementUp() {

        $('.jc-js-quantity-selector--{{variant_id}}').val( function(i, oldval) {
            return ++oldval;
        });
    }


    $("#jc-quantity-btn-down--{{variant_id}}").click(function(){
      incrementDown();
    });

    $("#jc-quantity-btn-up--{{variant_id}}").click(function(){
      incrementUp();
    });

    $(".jc-quantity-btn").hover(function(){
      var breaker = $(this).find('.jc-quantity-btn-breaker');
      breaker.css("background-color", "#ffffff");
      }, function(){
      var breaker = $(this).find('.jc-quantity-btn-breaker');
      breaker.css("background-color", "#0049434d");
    });

   });

</script>
{%endcomment%}



<script>   
  // Declare boostPFSThemeConfig
  var boostPFSThemeConfig = {     
      label: {       
        sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Sorting" {% endunless %},       
        sorting_best_selling: {% assign temp = collection.sort_options[1].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Best Selling" {% endunless %},       
        sorting_manual: {% assign temp = collection.sort_options[0].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Featured" {% endunless %},       
        sorting_title_ascending: {% assign temp = collection.sort_options[2].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Alphabetically, A-Z" {% endunless %},       
        sorting_title_descending: {% assign temp = collection.sort_options[3].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Alphabetically, Z-A" {% endunless %},       
        sorting_price_ascending: {% assign temp = collection.sort_options[4].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Lowest Price" {% endunless %},       
        sorting_price_descending: {% assign temp = collection.sort_options[5].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Highest Price" {% endunless %},       
        sorting_date_ascending: {% assign temp = collection.sort_options[6].name %} {% unless temp == nil  %} {{ temp | json }} {% else %} "Date, Old to New" {% endunless %},       
        sorting_date_descending: {% assign temp = collection.sort_options[7].name %} {% unless temp == nil  %} {{ temp | json }} {% else %} "Date, New to Old" {% endunless %},       
        sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Relevance" {% endunless %},        
        sale: {{ 'products.product.on_sale' | t | json }},       
        sale_price: {{ 'products.product.sale_price' | t | json }},       
        sold_out: {{ 'products.product.sold_out' | t | json }},       
        vendor: {{ 'products.product.vendor' | t |json }},       
        regular_price: {{ 'products.product.regular_price' | t | json }},       
        items_with_count_one: {{ 'collections.general.items_with_count.one' | t | json}},       
        items_with_count_other: {{ 'collections.general.items_with_count.other' | t | json }},       
        current_page: {{ 'general.pagination.current_page' | t | json }}, 
      },     
      custom: {       
        // Add custom value here  
        products_per_page: 20,   
        product_grid_class: '',
      }   
    };// Declare Templates
  var boostPFSTemplate = {
      'soldOutClass': ' sold-out',
      'saleClass': ' on-sale',
      'soldOutLabelHtml': {% render 'boost-pfs-filter-html', layout: 'soldOutLabelHtml' %},
      'saleLabelHtml': {% render 'boost-pfs-filter-html', layout: 'saleLabelHtml' %},
      'tagLabelHtml': {% render 'boost-pfs-filter-html', layout: 'tagLabelHtml' %},
      'vendorHtml': {% render 'boost-pfs-filter-html', layout: 'vendorHtml' %},
      // Grid Template
      'productGridItemHtml': {% render 'boost-pfs-filter-html', layout: 'productGridItemHtml' %},
      // For List View
      // List Template
      'productListItemHtml': {% render 'boost-pfs-filter-html', layout: 'productListItemHtml' %},
      // End For List View
      // Pagination Template
      'previousActiveHtml': {% render 'boost-pfs-filter-html', layout: 'previousActiveHtml' %},
      'previousDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' %},
      'nextActiveHtml': {% render 'boost-pfs-filter-html', layout: 'nextActiveHtml' %},
      'nextDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' %},
      'pageItemHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemHtml' %},
      'pageItemSelectedHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' %},
      'pageItemRemainHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' %},
      'paginateHtml': {% render 'boost-pfs-filter-html', layout: 'paginateHtml' %},
      // Sorting Template
      'sortingHtml': {% render 'boost-pfs-filter-html', layout: 'sortingHtml' %},
      // Show Limit Template
      'showLimitHtml': {% render 'boost-pfs-filter-html', layout: 'showLimitHtml' %},
      // Breadcrumb Template
      'breadcrumbHtml': {% render 'boost-pfs-filter-html', layout: 'breadcrumbHtml' %},
      'breadcrumbDivider': {% render 'boost-pfs-filter-html', layout: 'breadcrumbDivider' %},
      'breadcrumbItemLink': {% render 'boost-pfs-filter-html', layout: 'breadcrumbItemLink' %},
      'breadcrumbItemSelected': {% render 'boost-pfs-filter-html', layout: 'breadcrumbItemSelected' %},
  };
  </script>