<div class="nav">

  <div class="nav-banner nav-middle" {%if section.settings.announcement_color%} style="background-color: {{section.settings.announcement_color}}" {%endif%}>
    <p class="black-text no-margin-b">
      <a href="{{section.settings.announcement_link}}" {% if section.settings.announcement_text_color %} style="color: {{section.settings.announcement_text_color}}"{%endif%} class="banner-text-link">{{section.settings.announcement_text}}</a>
    </p>
  </div>


    <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">


      <div class="nav-flex-row">
        <a href="/" class="brand w-nav-brand"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-logo-w.svg?v=1660925360" loading="lazy" alt="White Funky Chunky Logo" class="brand-img"></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          
          <div data-hover="true" data-delay="0" class="nav-dropdown w-dropdown">
            <div class="nav-link w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <a href="https://funkychunky.com/pages/shop-all" class="white-link">
                <div>Shop</div>
              </a>
            </div>
            <nav class="dropdown-list-shop w-dropdown-list">
              <div class="second-dropdown-link-wrapper">
                <div data-hover="true" data-delay="0" class="second-dropdown w-dropdown">
                  
                  <div class="second-dropdown-toggle w-dropdown-toggle">
                    <div>
                      <a href="https://funkychunky.com/collections/all-products" class="second-dropdown-link">Shop All</a>
                    </div>
                  </div>
                  <nav class="second-dropdown-list w-dropdown-list">
                    <a href="https://funkychunky.com/products/chocolate-pretzel" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min.jpg?v=1660925359" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min-p-500.jpg?v=1660925359 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min-p-800.jpg?v=1660925359 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min-p-1080.jpg?v=1660925359 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min.jpg?v=1660925359 1400w" sizes="100vw" alt="Overhead view of Chocolate Pretzels Product. There is white chocolate, caramel, and chocolate drizzled across the pretzels" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">Chocolate Pretzels</h2>
                    </a>
                    <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min.jpg?v=1660925359" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min.jpg 1400w" sizes="100vw" alt="Chip Zel Pop product, there is popcorn, potato chips, pretzel sticks, all with a white chocolate and chocolate drizzle." class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">Chip zel pop</h2>
                    </a>
                    <a href="https://funkychunky.com/products/peanut-butter-cup-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min.jpg?v=1660925914" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min.jpg 1400w" sizes="100vw" alt="Peanut Butter Cup product, with popcorn, mini chocolate peanut butter cups, chocolate drizzle, and peanuts visible" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">peanut butter cup</h2>
                    </a>
                    <a href="https://funkychunky.com/products/sea-salt-caramel-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min.jpg 1400w" sizes="100vw" alt="Sea Salt Caramel product, popcorn with chocolate and caramel drizzle visible" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">Sea Salt caramel</h2>
                    </a>
                    <a href="https://funkychunky.com/products/nutty-choco-pop-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/NCP-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/NCP-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/NCP-top-min.jpg 768w" sizes="100vw" alt="Nutty Choco Pop product, there is popcorn, almonds, cashews, and white chocolate, caramel, and chocolate drizzle on all of them" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">nutty choco pop</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/buy-with-prime" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/icon-BuyWithPrime.png?v=1680802983" loading="lazy"  alt="Buy With Prime Image" class="nav-img">
                    <h2 class="black-text smaller-h2 link-black-blue">2-DAY SHIPPING</h2>
                  </a>
                    {%- comment -%}
                      <a href="https://funkychunky.com/products/birthday-cake-popcorn" class="dropdown-pic-link w-inline-block">
                        <img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/flavor-birthdaycake-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/flavor-birthdaycake-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/flavor-birthdaycake-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/flavor-birthdaycake-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                        <h2 class="black-text smaller-h2 link-black-blue">birthday cake</h2>
                      </a>
                    {%- endcomment -%}
                  </nav>
                </div>
                <div data-hover="true" data-delay="0" class="second-dropdown w-dropdown">
                  <div class="second-dropdown-toggle w-dropdown-toggle">
                    <div>
                      <a href="https://funkychunky.com/collections/flavors" class="second-dropdown-link">Shop by Flavor</a>
                    </div>
                  </div>
                  <nav class="second-dropdown-list second w-dropdown-list">
                    <a href="https://funkychunky.com/products/chocolate-pretzel" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min.jpg?v=1660925359" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min-p-500.jpg?v=1660925359 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min-p-800.jpg?v=1660925359 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min-p-1080.jpg?v=1660925359 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min.jpg?v=1660925359 1400w" sizes="100vw" alt="Overhead view of Chocolate Pretzels Product. There is white chocolate, caramel, and chocolate drizzled across the pretzels" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">Chocolate Pretzels</h2>
                    </a>
                    <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min.jpg 1400w" sizes="100vw" alt="Chip Zel Pop product, there is popcorn, potato chips, pretzel sticks, all with a white chocolate and chocolate drizzle." class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">chip zel pop</h2>
                    </a>
                    <a href="https://funkychunky.com/products/peanut-butter-cup-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min.jpg 1400w" sizes="100vw" alt="Peanut Butter Cup product, with popcorn, mini chocolate peanut butter cups, chocolate drizzle, and peanuts visible" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">peanut butter cup</h2>
                    </a>
                    <a href="https://funkychunky.com/products/sea-salt-caramel-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min.jpg 1400w" sizes="100vw" alt="Sea Salt Caramel product, popcorn with chocolate and caramel drizzle visible" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">sea salt caramel</h2>
                    </a>
                    <a href="https://funkychunky.com/products/nutty-choco-pop-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/NCP-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/NCP-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/NCP-top-min.jpg 768w" sizes="100vw" alt="Nutty Choco Pop product, there is popcorn, almonds, cashews, and white chocolate, caramel, and chocolate drizzle on all of them" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">nutty choco pop</h2>
                    </a>
                    {%- comment -%}
                    {%- endcomment -%}
                      <a href="https://funkychunky.com/products/birthday-cake-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/flavor-birthdaycake-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/flavor-birthdaycake-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/flavor-birthdaycake-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/flavor-birthdaycake-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">birthday cake</h2>
                    </a>
                  </nav>
                </div>
                <div data-hover="true" data-delay="0" class="second-dropdown w-dropdown">
                  <div class="second-dropdown-toggle w-dropdown-toggle">
                    <div>
                      <a href="https://funkychunky.com/collections/all-products" class="second-dropdown-link">Shop by Type</a>
                    </div>
                  </div>
                  <nav class="second-dropdown-list third w-dropdown-list">
                    <a href="https://funkychunky.com/collections/large-bags" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-bag-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-bag-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-bag-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-bag-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">bags</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/popcorn-tin-gifts" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/size-tins-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/size-tins-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/size-tins-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/size-tins-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">tins</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/variety-packs" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-varietypack-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-varietypack-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-varietypack-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-varietypack-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">variety packs</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/gift-packs" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-giftset-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-giftset-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-giftset-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-giftset-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">gift sets</h2>
                    </a>
                    <a href="https://funkychunky.com/a/gc/gift-card/" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-egift-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-egift-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-egift-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-egift-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">e-gifts</h2>
                    </a>
                    <a href="https://funkychunkygifts.com/" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-corporate-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-corporate-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-corporate-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-corporate-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">Corporate</h2>
                    </a>
                  </nav>
                </div>
                <div data-hover="true" data-delay="0" class="second-dropdown w-dropdown">
                  <div class="second-dropdown-toggle w-dropdown-toggle">
                    <div>
                      <a href="https://funkychunky.com/collections/popular-gifts" class="second-dropdown-link">Shop by Occasion</a>
                    </div>
                  </div>
                  <nav class="second-dropdown-list fourth w-dropdown-list">
                    <a href="https://funkychunky.com/collections/birthday-gifts" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-birthdays-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-birthdays-min.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-birthdays-min.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-birthdays-min.png 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">birthdays</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/funky-chunky-coffee" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-coffeelover-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-coffeelover-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-coffeelover-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">coffee lovers</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/care-packages" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-carepkg-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-carepkg-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-carepkg-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-carepkg-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">care packages</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/employee-care-packages" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-employee-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-employee-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-employee-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/occasion-employee-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">employee appreciation</h2>
                    </a>
                    <a href="https://funkychunky.com/a/gc/gift-card/" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-egift-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-egift-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-egift-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/type-egift-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">gift cards</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/popular-gifts" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/FC-1301-Tasting-Kit-V1b.jpg?v=1614289918" loading="lazy" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">any occasion</h2>
                    </a>
                  </nav>
                </div>
                <div data-hover="true" data-delay="0" class="second-dropdown w-dropdown">
                  <div class="second-dropdown-toggle w-dropdown-toggle">
                    <div>
                      <a href="https://funkychunky.com/collections/all-products" class="second-dropdown-link">Shop by Size</a>
                    </div>
                  </div>
                  <nav class="second-dropdown-list size w-dropdown-list">
                    <a href="https://funkychunky.com/collections/tall-canisters" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min.jpg 1400w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">large canister</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/mini-canisters" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/Small-Canister.jpg?v=1661534228" loading="lazy" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">small canister</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/large-bags" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-large-5oz-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-large-5oz-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-large-5oz-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-large-5oz-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-large-5oz-min.png 1400w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">large bag</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/small-bags-1" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min.png 1400w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">small bag</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/gift-boxes" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/size-box-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/size-box-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/size-box-min.jpg 800w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">Boxes</h2>
                    </a>
                    <a href="https://funkychunky.com/collections/popcorn-tin-gifts" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/size-tins-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/size-tins-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/size-tins-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/size-tins-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                      <h2 class="black-text smaller-h2 link-black-blue">tins</h2>
                    </a>
                  </nav>
                </div>
              </div>
              <div class="bottom-banner-nav-flex-row">
                <a href="https://funkychunky.com/a/gc/gift-card/" class="bottom-banner-nav w-inline-block">
                  <h2 class="smaller-h2">send an e-gift</h2>
                </a>
                <a href="https://funkychunky.com/pages/multi-ship" class="bottom-banner-nav right w-inline-block">
                  <h2 class="smaller-h2">ship to multiple addresses</h2>
                </a>
              </div>
              <div class="always-show-nav">
                <a href="https://funkychunky.com/products/chocolate-pretzel" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min.jpg?v=1660925359" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min-p-500.jpg?v=1660925359 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min-p-800.jpg?v=1660925359 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min-p-1080.jpg?v=1660925359 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min.jpg?v=1660925359 1400w" sizes="100vw" alt="Overhead view of Chocolate Pretzels Product. There is white chocolate, caramel, and chocolate drizzled across the pretzels" class="nav-img">
                  <h2 class="black-text smaller-h2 link-black-blue">Chocolate Pretzels</h2>
                </a>
                <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min.jpg 1400w" sizes="100vw" alt="Chip Zel Pop product, there is popcorn, potato chips, pretzel sticks, all with a white chocolate and chocolate drizzle." class="nav-img">
                  <h2 class="black-text smaller-h2 link-black-blue">Chip zel pop</h2>
                </a>
                <a href="https://funkychunky.com/products/peanut-butter-cup-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min.jpg 1400w" sizes="100vw" alt="Peanut Butter Cup product, with popcorn, mini chocolate peanut butter cups, chocolate drizzle, and peanuts visible" class="nav-img">
                  <h2 class="black-text smaller-h2 link-black-blue">peanut butter cup</h2>
                </a>
                <a href="https://funkychunky.com/products/sea-salt-caramel-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min.jpg 1400w" sizes="100vw" alt="Sea Salt Caramel product, popcorn with chocolate and caramel drizzle visible" class="nav-img">
                  <h2 class="black-text smaller-h2 link-black-blue">sea salt caramel</h2>
                </a>
                <a href="https://funkychunky.com/products/nutty-choco-pop-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/NCP-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/NCP-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/NCP-top-min.jpg 768w" sizes="100vw" alt="Nutty Choco Pop product, there is popcorn, almonds, cashews, and white chocolate, caramel, and chocolate drizzle on all of them" class="nav-img">
                  <h2 class="black-text smaller-h2 link-black-blue">nutty choco pop</h2>
                </a>


                <a href="https://funkychunky.com/collections/buy-with-prime" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/icon-BuyWithPrime.png?v=1680802983" loading="lazy"  alt="Buy With Prime Image" class="nav-img">
                  <h2 class="black-text smaller-h2 link-black-blue">2-DAY SHIPPING</h2>
                </a>
                {%- comment -%}
                  <a href="https://funkychunky.com/products/birthday-cake-popcorn" class="dropdown-pic-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/flavor-birthdaycake-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/flavor-birthdaycake-min.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/flavor-birthdaycake-min.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/flavor-birthdaycake-min.jpg 900w" sizes="100vw" alt="" class="nav-img">
                  <h2 class="black-text smaller-h2 link-black-blue">Birthday Cake</h2>
                </a>
              {%- endcomment -%}

              </div>
            </nav>
          </div>
          <a href="https://funkychunkygifts.com/" class="nav-link w-nav-link">Corporate Gifting</a>
          <a href="https://funkychunky.com/pages/fundraising" class="nav-link w-nav-link">Fundraising</a>
          <a href="https://funkychunky.com/pages/wholesale" class="nav-link w-nav-link">Wholesale</a>
          <div data-hover="true" data-delay="0" class="nav-dropdown w-dropdown">
            <div class="nav-link w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <a href="https://funkychunky.com/pages/about" class="white-link">
                <div>Our Company</div>
              </a>
              
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="https://funkychunky.com/pages/about" aria-current="page" class="dropdown-link w-dropdown-link">About Us</a>
              <a href="https://funkychunky.com/pages/reviews-1" class="dropdown-link w-dropdown-link">Reviews</a>
              <a href="https://funkychunky.com/pages/customer-service-1#shipping-and-returns" class="dropdown-link w-dropdown-link">Shipping & Returns</a>
              <a href="https://funkychunky.com/pages/customer-service-1" class="dropdown-link w-dropdown-link">Customer Service</a>
              <a href="https://funkychunky.com/pages/discounts" class="dropdown-link w-dropdown-link">Current Promotions</a>
              <a href="https://funkychunky.com/blogs/news" class="dropdown-link bottom w-dropdown-link">Funky News</a>
            </nav>
          </div>
          {%- comment -%}
            <a href="https://funkychunky.com/pages/customer-service-1#holiday-shipping" class="nav-link w-nav-link">Holiday Deadlines</a>
          {%- endcomment -%}
        </nav>
        <div class="login-bag">
          <a href="{% if customer %}https://funkychunky.com/account#/profile{%else%}/account/login{%endif%}" class="login-link-block w-inline-block">
            <div class="cart-wrapper">
              <img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/user.svg?v=1661886330" loading="lazy" alt="Account" class="nav-meta-img">
            </div>
          </a>
          
            <a href="#" class="nav-meta-link w-inline-block search-modal-open login-link-block w-inline-block">
              <div class="cart-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/search.svg?v=1661817691" loading="lazy" alt="Search" class="nav-meta-img">
              </div>
            </a>
          
          <a href="https://funkychunky.com/cart" class="login-link-block w-inline-block">
          <div class="cart-wrapper">
            <img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/cart.svg" loading="lazy" alt="Shopping Cart" class="cart-img">
          </div>
        </a>
        </div>
        <div class="menu-btn w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>

    {% if template == 'index' or template == 'product' or template == 'collection' %}
    
    <div class="nav-banner">
      <p class="black-text no-margin-b nav-left">
        <a href="{{section.settings.btn_url}}" class="banner-text-link">{{section.settings.btn_text}}</a>
      </p>
      <p class="black-text no-margin-b nav-right">
        <a href="{{section.settings.btn_url_2}}" class="banner-text-link">{{section.settings.btn_text_2}}</a>
      </p>
    </div>
    {%endif%}
  </div>



  {% schema %}
{
"name": "Nav Banner" ,
"settings": [
  {
    "label": "Announcement Link",
    "id": "announcement_link",
    "type": "url"
   },
   {
    "label": "Announcement Text",
    "id": "announcement_text",
    "type": "text"
   },
   {
    "label": "Announcement Text Color",
    "id": "announcement_text_color",
    "type": "color"
   },
   {
    "label": "Announcement Bar Color",
    "id": "announcement_color",
    "type": "color"
   },

     {
      "label": "Button URL",
      "id": "btn_url",
      "type": "url"
     },
     {
      "label": "Button Text",
      "id": "btn_text",
      "default": "FREE SHIPPING on Orders Over $75",
      "type": "text"
     },
     {
      "label": "Button URL 2",
      "id": "btn_url_2",
      "type": "url"
     },
     {
      "label": "Button Text 2",
      "id": "btn_text_2",
      "default": "FREE SHIPPING on Orders Over $75",
      "type": "text"
     }

]
}
{% endschema %}